<p>emp-table works!</p> 
<div class="container"> 
    <mat-form-field appearance="fill">
      <mat-label>Select Employee Type</mat-label>
      <mat-select name="selectedType" [(ngModel)]="selectedType" (selectionChange)="changeTableData()">
        <mat-option value="all" selected>All</mat-option>
        <mat-option value="permanent">Permanent</mat-option>
        <mat-option value="contract">Contract</mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="employeeDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName + element.MiddleName + element.LastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Gender">
            <th mat-header-cell *matHeaderCellDef> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>
        <ng-container matColumnDef="Salary">
            <th mat-header-cell *matHeaderCellDef> Salary </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="Address 1">
            <th mat-header-cell *matHeaderCellDef> Address 1 </th>
            <td mat-cell *matCellDef="let element"> {{element.Address1}} </td>
        </ng-container>
        <ng-container matColumnDef="Address 2">
            <th mat-header-cell *matHeaderCellDef> Address 2 </th>
            <td mat-cell *matCellDef="let element"> {{element.Address2}} </td>
        </ng-container>
        <ng-container matColumnDef="Pincode">
            <th mat-header-cell *matHeaderCellDef> Pincode </th>
            <td mat-cell *matCellDef="let element"> {{element.Pincode}} </td>
        </ng-container>
        <ng-container matColumnDef="UserType">
            <th mat-header-cell *matHeaderCellDef> UserType </th>
            <td mat-cell *matCellDef="let element"> {{element.UserType}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: employeeDisplayedColumns;"></tr>
    </table>
</div>
